// ========================================================================
// SETTINGS/COLOURS
// ========================================================================

// MAP
$colors: (
  a: black,
  b: #f8f8f8,
  c: #c8f0ed,
);
